@model IEnumerable<Country>
@{
	int? selectedId = ViewBag.SelectedCountryId;
}

<div id="CountryFilter" class="panel-collapse collapse">
	<ul class="nav nav-pills nav-stacked">
		<li class="@(selectedId == null ? "active" : "")">
			@Html.RouteLink(@Resources.None, new
			{
				action = "Country",
				controller = "Filter"
			})
		</li>

		@foreach (var item in Model)
		{
			<li class="@(selectedId == item.Id ? "active" : "")">
				@Html.RouteLink(item.Name, new
				{
					action = "Country",
					controller = "Filter",
					id = item.Id
				})
			</li>

		}
	</ul>

</div>
